APP_NAME=Billax 2.0 API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true
DATABASE_URL=postgresql://adolfo:password@127.0.0.1:5432/billax
FRONTEND_URL=http://localhost:5173
ACCESS_TOKEN_EXPIRE_MINUTES=30
SECRET_KEY=change-me-in-production
ALGORITHM=HS256